beautifulsoup4
playwright
requests
psycopg
python-dotenv
psycopg2-binary
flask
flask_sqlalchemy
flask_cors
apscheduler
transformers
safetensors
torch --extra-index-url https://download.pytorch.org/whl/cu117
faiss-cpu
sentence-transformers
numpy
protobuf
accelerate>=0.26.0
bitsandbytes>0.37.0
waitress
