.api-service-notif {
    max-width: 600px;
    padding: 20px;
    margin: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    background: rgba(255, 255, 255, .1);
    color: #fff;
}

.api-service-notif p + p {
    margin-top: 20px;
}