.title-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switcher-tabs {
    margin: 10px 10px 10px 0;
}

.switcher-tab {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.switcher-tab-active,
.switcher-tab:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}