.text-search {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 0 0;
}

.text-search label {
    font-weight: bold;
    width: 100px;
    display: inline-block;
    margin: 0 10px 0 0;
    text-align: right;
}

.text-search-item {
    margin: 33px 0;
}

.text-search-item input {
    border: 1px solid;
    padding: 5px 10px;
    width: 300px;
    border-radius: 4px;
    background: #ddd;
}