* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    color: #888;
    padding: 10px;
}

h1 {
    font-weight: 400;
    color: #fff;
}

h2 {
    font-weight: 400;
    margin: 10px 0;
}

.meta {
    font-size: small;
}

.meta label {
    color: #fff;
    margin: 0 5px 0 20px;
}

a {
    color: inherit;
}

h1 label,
h1 span {
    font-weight: 200;
    color: #aaa;
    font-size: small;
}

h1 label {
    color: #fff;
    margin: 0 5px 0 20px;
}

.success {
    color: #080;
}

.warn {
    color: orange;
}

.error {
    color: red;
}

.job-list-container {
    width: 1000px;
    margin: 20px 0 0;
}

.job-list table {
    width: 100%;
}

.job-list-header{
    display: grid;
    grid-template-columns: 150px 1fr;
    margin: 0 0 5px;
}

.job-count {
}

.filters {
    text-align: right;
}

.filter-item {
    margin: 0 0 0 40px;
}

.filter-item input,
.filter-item select {
    margin: 0 5px;
}

th {
    background: #666;
    color: #000;
    font-weight: 400;
    padding: 5px;
    min-width: 150px;
}

td {
    padding: 5px 10px;
}

.icon {
    width: 15px;
    height: 15px;
    fill: #ddd;
    margin: 0 5px 0 0;
}

.show-more {
    padding: 10px;
    margin: 20px 0;
}

path.recharts-sector {
    stroke: transparent;
}

.company-chart,
.week-chart,
.trend-chart {
    display: inline-block;
    margin: 0 20px 0 0;
}

.trend-chart {
    margin: 0 20px 20px 0;
}

.filter-system {
    background: #000;
    border-radius: 10px;
    padding: 10px 20px 30px;
    max-width: 1350px;
    box-sizing: border-box;
}

.filter-system fieldset {
    max-width: 640px;
    padding: 10px;
    border-radius: 5px;
}

.filter-system fieldset + fieldset {
    margin-top: 20px;
}

.text-search {
    float: left;
    width: 640px;
    margin: 0 20px 0 0;
}

.filter-system .filter-item {
    margin: 0 0 10px;
    padding: 17px;
}

.filter-item label {
    text-align: right;
}

.filter-item input {
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}

.company-select {
    display: inline-block;
    width: 105px;
    text-align: center;
    border: 1px solid;
    height: 80px;
    vertical-align: top;
    padding: 10px;
    border-radius: 4px;
}

.company-select {
    margin: 10px 0 10px 10px;
}

.company-select + .company-select {
    margin-left: 10px;
}

.filter-system .icon {
    width: 30px;
    height: 30px;
}

.company-selected {
    border-color: green;
}