* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    color: #888;
    padding: 10px;
}

h1 {
    font-weight: 400;
    color: #fff;
}

h2 {
    font-weight: 400;
    margin: 10px 0;
}

.meta {
    font-size: small;
}

.meta label {
    color: #fff;
    margin: 0 5px 0 20px;
}

a {
    color: inherit;
}

h1 label,
h1 span {
    font-weight: 200;
    color: #aaa;
    font-size: small;
}

h1 label {
    color: #fff;
    margin: 0 5px 0 20px;
}

.success {
    color: #080;
}

.warn {
    color: orange;
}

.error {
    color: red;
}

.job-lists {
    max-width: 1700px;
    display: inline-block;
    vertical-align: top;
}

.job-list-container {
    max-width: 1000px;
    margin: 20px 10px 0;
    display: inline-block;
    vertical-align: top;
}

.job-list table {
    width: 100%;
}

.job-list-header{
    display: grid;
    grid-template-columns: 150px 1fr;
    margin: 0 0 5px;
}

.job-count {
}

th {
    background: #666;
    color: #000;
    font-weight: 400;
    padding: 5px;
    min-width: 150px;
}

td {
    padding: 5px 10px;
}

.icon {
    width: 15px;
    height: 15px;
    fill: #ddd;
    margin: 0 5px 0 0;
}

.show-more {
    padding: 10px;
    margin: 20px 0;
}

path.recharts-sector {
    stroke: transparent;
}

.company-chart,
.week-chart {
    display: inline-block;
    margin: 0 20px 0 0;
}

.trend-chart {
    margin: 0 20px 20px 0;
}

.job-search {
    display: inline-block;
    vertical-align: top;
}

.tag {
    display: inline-block;
    background: #888;
    color: #fff;
    font-size: x-small;
    min-width: 60px;
    padding: 5px;
    margin: 10px 10px 0 0;
    text-align: center;
    border-radius: 4px;
    text-shadow: 0 0 4px rgb(0, 0, 0);
}

.trends > div {
    max-width: 1350px;
    display: inline-block;
}